body {
    margin: 0 20px 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 110%;
    -webkit-text-size-adjust: 150%;
}

form {
    background-color: #EEEEEE;
    margin: 0 0 12px;
    padding: 8px;
}

form dd {
    margin-left: 0;
}

label {
    display: inline-block;
}

label.param_name {
    font-weight: bold;
}

label.param_name:after {
    content: ":";
}

dd label {
    color: #999999;
    width: 8em;
}

label.value {
    text-align: right;
    width: 3em;
    margin-left: 1em;
    color: #000000;
}

label.max {
    text-align: right;
}

input {
    width: 16em;
    font-size: inherit;
}

button {
    border-radius: none;
    padding: 16px 40px;
    font-weight: bold;
    font-size: 120%;
}

svg {
    background-color: #EEEEEE;
}

rect.panel_background {
    fill: #FFFFFF;
}

path {
    fill: none;
    stroke: #FF6000;
    stroke-opacity: 0.3;
    stroke-width: 3;
}

path.domain {
    stroke: #000000;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

text {
    font-size: 110%;
}
