body {
    font-family: "Noto Sans", sans-serif;
    margin: 0 20px 20px;
}

form {
    background-color: #EEEEEE;
    margin: 0 0 12px;
    padding: 8px;
}

div.parameter {
    margin: 0 0 8px;
}

label {
    display: block;
}

label:after {
    content: ":";
}

input {
    width: 120px;
}

svg {
    border: solid;
    border-color: #808080;
}

path {
    fill: none;
    stroke: #FF6000;
    stroke-opacity: 0.3;
    stroke-width: 2;
}
