@charset "UTF-8";
/*csslint
  box-model: false, box-sizing: false,
  universal-selector: false, font-sizes: false,
  qualified-headings: false, unique-headings: false,
*/

* {
    box-sizing: border-box;
}

body {
    color: #444444;
    margin: 0 10px 10px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Yu Gothic", "游ゴシック", Meiryo, "メイリオ", sans-serif;
}

h1 {
  font-size: 1.6em;
}

dl {
    display: inline-block;
    width: 100%;
    margin: 0 12px 12px 0;
    padding: 8px 12px;
    background-color: #EEEEEE;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

label {
    display: inline-block;
}

.name:after {
    content: ":";
}

label.value {
    float: right;
    text-align: right;
    color: #000000;
    font-weight: bold;
}

.min, .max {
    color: #999999;
}

label.max {
    float: right;
    text-align: right;
}

input[type=range] {
    width: 100%;
    margin: 0;
}

.button {
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #666666;
    color: #FFFFFF;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.start {
    margin: 0 0 12px;
    padding: 12px 16px;
    font-size: 120%;
    width: 100%;
}

footer .button {
    margin: 12px 0 12px 8px;
    background-color: #AAAAAA;
    font-size: 80%;
    font-weight: normal;
}

footer {
    text-align: right;
}

.graph {
    background-color: #EEEEEE;
}

svg {
    vertical-align: top;
    height: 360px;
}

.fixation {
    display: inline-block;
    margin-right: 12px;
}

.fixation div {
    display: inline-block;
    padding: 8px;
    margin-right: 8px;
    background-color: #DDDDDD;
}

.fixation label.value {
    min-width: 2em;
}

rect.panel_background {
    fill: #FFFFFF;
}

path {
    fill: none;
}

.panel path {
    stroke: #FF6000;
    stroke-opacity: 0.3;
    stroke-width: 3;
}

path.domain {
    stroke: #000000;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

@media (min-width: 600px) {
    form {
      margin: 0 -2% 0 0;
    }
    dl {
      width: 48%;
      margin: 0 2% 12px 0;
    }
    .start {
      width: 98%;
    }
}
